*{
  box-sizing: border-box;
}

label, #toggle { display: none; }
@media all and (max-width: 991px) {
  nav {
    height: 60px;
  }
  nav .main_pages {
    display: none;
    flex-direction: column;
    background: #000000;
    height: 220px;
  }
  nav .main_pages a {
    width: 50%;
  }
  label {
    width: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    font-size: 40px;
    color: rgb(14, 12, 12);
    cursor: pointer;
  }
  #toggle:checked + .main_pages {
    display: flex;
  }
}

h1{
    text-align: center;
}

.main_pages{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: auto;
  padding: 1rem;
}
.main_pages a{
  padding: 0.5rem 0.5rem;
}

.premierPublication{
  margin-top: 12em;
} 

.socialBar{
  position: absolute;
  top: 40%;
  margin: auto;
  z-index: 5;
  display: flex;
  flex-direction: row;
  width: 390px;
  justify-content: space-around;
}
/* .social img {
  margin-right: 10px;
  margin-left: 10px;
} */

.publications{
  display: flex;
  flex-direction: column;
  align-items: center;
  height: auto;
  margin: auto;
  padding: 0.5rem 0;
}

footer{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: auto;
  background-color: rgb(238, 211, 171);
  padding: 4rem;
}
footer a{
  padding: 0rem 1rem;
}