label, #toggle { display: none; }
@media all and (max-width: 991px) {
  nav {
    height: 60px;
  }
  nav .main_pages {
    display: none;
    flex-direction: column;
    background: #48435C;
    height: 220px;
  }
  nav .main_pages a {
    width: 50%;
  }
  label {
    width: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    font-size: 40px;
    color: rgb(14, 12, 12);
    cursor: pointer;
  }
  #toggle:checked + .main_pages {
    display: flex;
  }
}
h1{
    text-align: center;
}